<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- RequestMappingHanlderMapping @RequestMapping -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 用于扫描controller,service,dao -->
	<context:component-scan base-package="com.wcxu.myException"></context:component-scan>

	<!-- ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/">
		</property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- spring自带简单异常处理器1 -->
	<!--<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean> -->
	<!-- spring自带简单异常处理器2 -->
	<!--<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error" />
		<property name="exceptionAttribute" value="ex" />
		<property name="exceptionMappings">
			<props>
				<prop key="com.wcxu.myException.CustomException">custom_error</prop>
			</props>
		</property>
	</bean>-->
	<!-- 自定义全局异常处理器 -->
	 <bean class="com.wcxu.myException.CustomExceptionResolver"></bean>
</beans>